.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .timer {
  color: #ffc107;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0 20px;
}