.start-screen {
  width: 550px;
  height: 300px;
  background-color: #212529;
  border-radius: 10px;
  border: 3px solid #ffc107;
  box-shadow: 0 0 15px #e4a617;
  padding: 20px;
}

.quiz-title {
  margin-top: 20px;
  color: #ffc107;
  text-transform: capitalize;
}

.quiz-title h3 {
  font-size: 19px;
  font-style: italic;
}

.userName {
  margin-top: 40px;
}
.userName input {
  background-color: #212529;
  color: #ffc107;
  text-transform: capitalize;
}

.userName span {
  background-color: #2b3035;
  color: #ffc107;
  border-color: #e4a617;
}

@media (max-width: 420px) {
  .start-screen {
    height: 320px;
  }
}
