.bookmark-item {
  background-color: #2b3035;
  height: 350px;
  border-radius: 10px;
  border: 3px solid #212529;
  box-shadow: 0 0 15px #0f0f0f;
}

.bookmark-item-container {
  display: flex;
  justify-content: start;
  gap: 20px;
  padding: 5px;
}

.bookmark-item-img {
  width: 350px;
  height: 335px;
  border-radius: 10px;
  border: 3px solid #ffc107;
  box-shadow: 0 0 15px #e4a617;
}

.bookmark-item-img img {
  border-radius: 7px;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.bookmark-item-descr {
  position: relative;
  text-align: left;
  color: #ffffff;
  margin-bottom: 2px;
  background-color: #212529;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 335px;
}

.bookmark-item-descr .btn-container {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.bookmark-item-descr .movie-detail {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.bookmark-item-descr .card-text {
  color: #ffffff;
  font-weight: bold;
}

.bookmark-item-descr .card-text-secondary {
  color: #ffffff;
}

.bookmark-item-descr .card-title {
  color: #ffc107;
}

.bookmark-item .plot-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 648px) {
  .bookmark-item .plot-container {
    -webkit-line-clamp: 6;
  }
}
@media (max-width: 600px) {
  .bookmark-item-descr .btn-container {
    position: relative;
  }

  .bookmark-item-descr .btn-container button {
    height: 40px;
    padding: 2px 10px;
  }

  .card-body {
    padding-top: 2px;
  }
}

@media (max-width: 570px) {
  .bookmark-item .plot-container {
    -webkit-line-clamp: 4;
  }
}

@media (max-width: 500px) {
  .bookmark-item {
    height: 800px;
  }
  .bookmark-item-container {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .bookmark-item-img {
    width: 95%;
    height: 400px;
    margin: 0 auto;
  }
  .bookmark-item .plot-container {
    -webkit-line-clamp: 4;
  }

  .bookmark-item-descr .btn-container button {
    height: 45px;
    /* padding: 2px 10px; */
  }

  .bookmark-item-descr {
    height: 350px;
  }

  .bookmark-item .plot-container {
    -webkit-line-clamp: 5;
  }
}
