.bookmarks {
  padding: 10px;
}

.bookmarks-title {
  color: #ffc107;
  text-transform: capitalize;
}

.no-bookmarks{
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #ffc107;
}


.no-bookmarks-img img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}